# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Dependency directories
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db
